<h1><%= @post.year %> <%= @post.make %> <%= @post.model %></h1>

<ul>
<li><%= image_tag @post.cars %></li>
</ul>

<ul>
<% @post.comments.each do |c| %>
  <li><%= c.body %> - by: <%= c.user.name %></li>
<% end %>
</ul>



<%= form_for([@post, @comment]) do |c| %>
  <%= c.text_field :body, placeholder: 'Add Comment Here'%>
  <%= c.submit %>
  <ul>
    <li><%= link_to 'Delete Post', post_path(@post), method: 'Delete' %></li>

  </ul>
<% end %>

<% if current_user == @post.user %>
<%= link_to 'Edit Post', edit_post_path %>
<% end %>
