<h1 class="cartitle"><%= @post.year %> <%= @post.make %> <%= @post.model %></h1>

<ul>
<li><%= image_tag @post.cars, class: 'thumbnail' %></li>
</ul>

<ul>
<% @post.comments.each do |c| %>
  <li class="carcomment"><%= c.body %> - By: <%= c.user.name %></li>
<% end %>
</ul>



<%= form_for([@post, @comment]) do |c| %>
  <%= c.text_field :body, placeholder: 'Add Comment Here', class: 'commentfloat'%>
  <%= c.submit %>
  <ul>
    <% if current_user.id == @post.user_id %>
    <li><%= link_to 'Delete Post', post_path(@post), method: 'Delete', class: 'deletepost' %></li>
    <li><%= link_to 'Edit Post', edit_post_path, class: 'editpost' %></li>

    <% end %>
    <li><%= link_to 'Back to Prev Page', user_path(@post.user_id), class: 'backpost' %></li>

  </ul>
<% end %>
