<!DOCTYPE html>
<html>
  <head>
    <title>Exotic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">

  
    <% if logged_in? %>
    <%= link_to 'Logout', logout_path, method: 'delete' %>
    <%= link_to 'NewPost', new_post_path %>
    <%=link_to 'Users', users_path %>


    <% else %>
    <%= link_to 'Log in', new_session_path %>
    <% end %>
  </h3>
  <% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
  <% end %>
    <%= yield %>



  </body>
</html>
